@use '../abstracts/variables';
@use '../abstracts/mixins';

.content {
  @include mixins.content;
}
.divider::after {
  content: '';
  position: absolute;
  height: 70px;
  width: 2px;
  background: hsla(0, 0%, 100%, 0.15);
}
.ticket::after {
  content: '';
  position: relative;
  display: block;
  height: 7px;
  background-image: url('/assets/ticket.jpg');
  background-position: center 100% 100%;
}
