@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
  background-color: variables.$btn-color;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 7px;

  &__schedule {
    @apply text-white rounded-[7px] w-[150px] h-[150px] bg-gray-500 text-[25px] font-bold flex items-end;
    padding-left: 13px;
  }
  &__booking:hover {
      background-color: rgb(212, 212, 106) !important;
  }
}
