@use '../abstracts/variables';
@use '../abstracts/mixins';

.show {
  &__content {
    @include mixins.content;
    @media (min-width: 700px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @media (min-width: 1080px) {
      max-width: 1384px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media (min-width: 1280px) {
      max-width: 1920px;
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  &__content-fix {
    @include mixins.content-fix;
  }
}
