@use '../abstracts/variables';

body {
  font-family: variables.$font-base;
  font-size: variables.$font-size-base;
  line-height: variables.$lh-normal;
  color: variables.$color-white;
  background: variables.$gray-50;
}
h1 {
  font-family: variables.$font-display;
  font-size: variables.$font-size-lg;
  line-height: variables.$lh-tight;
}
h2 {
  font-family: variables.$font-display;
  font-size: variables.$font-size-base;
  line-height: variables.$lh-tight;
}
h3 {
  font-family: variables.$font-display;
  font-size: variables.$font-size-sm;
  line-height: variables.$lh-snug;
}
// h4 { font-family: variables.$font-display; font-size: variables.$fs-2xl; line-height: variables.$lh-snug;  }

.navbar {
  background: variables.$color-primary;
  color: variables.$color-white;
  box-shadow: variables.$shadow-soft;

  //   .navbar__cta {
  //     @apply font-medium;
  //     background: variables.$brand-yellow;
  //     color: variables.$brand-black;

  //     &:hover { background: variables.$accent-amber; }
  //   }
  // .badge--yellow {
  //   background: variables.$brand-yellow;
  //   color: variables.$brand-black;
  // }
}
.separador {
  background: linear-gradient(transparent 0%, rgb(5 4 4) 25%, rgb(22 22 22) 45%, transparent 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -217px;
  opacity: 1;
  height: 395px;
  transition: opacity 0.7s cubic-bezier(0.65, 0, 0.35, 1);
}
.title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
}
